@import '../../../colors.scss';

#magicCheckoutPage {
    padding: 7%;

    h1 {
        font-size: 6vw;
        color: $pink;
        font-family: 'Garbata';
        font-weight: 300;
        margin-bottom: 5%;
    }

    h2 {
        font-family: 'Garet';
        font-weight: 100;
        color: $pink;
        font-size: 1.9vw;
    }

    #magicCheckoutTitleSectionWandContainer {
        position: absolute;
        top: 5vw;
        left: 37vw;

        #magicCheckoutTitleSectionWand {
            width: 12vw;
        }
        
        #magicCheckoutTitleSectionWandMagic {
            width: 10vw;
            transform: rotate(-112deg) scaleX(-1);
            position: absolute;
            right: -108%;
            top: -31%;
        }
    }

    #magicCheckoutQuestionsContainer {
        font-family: 'Garet';

        .magicCheckoutQuestionContainer {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin: auto;
            padding: 2% 0%;

            &.one {
                #magicCheckoutQuestionOneInputContainer {
                    display: flex;

                    input {
                        width: 25vw;
                        margin-left: 2vw; 
                    }
                } 
            }&.two {
                h2 {
                    margin: 1% 0;
                }
            
                input:nth-of-type(2) {
                    margin-bottom: 1%;
                }
            }
            
            &.five {
                h2 {
                    margin-bottom: 3%;
                }

                .rcp {
                    width: 19% !important;
                }
                .rcp-fields-floor {
                    display: unset !important;
                }
                .rcp-field {
                    width: unset !important;
                }
            }

            &.six {
                h2 {
                    margin-bottom: 3%;
                }
            }

            &.eight {
                #magicCheckoutQuestionEightContainer {
                    display: flex;
                    align-items: center;

                    .react-toggle {
                        margin-left: 1vw;
                    }
                }

                #magicCheckoutQuestionEightCountryContainer {
                    display: flex;
                    margin-top: 1%;

                    h2 {
                        width: 25%;
                    }

                    select {
                        background: $yellow;
                        border: 1px solid $pink;
                        font-family: 'Garet';
                        width: 25%;
                        font-size: 1vw;
                        padding-left: 0.6vw;
                        height: 50px;
                        border-radius: 4px;
                        box-shadow: inset 0 0 2px 1px darkgray;
                        cursor: pointer;

                        &:hover {
                            box-shadow: inset 0 0 1px 1px black;
                        }
                    }
                }
            }
            
            &.nine {
                .react-toggle {
                    margin-left: 1vw;
                }
            }

            &.ten {
                .MuiInputBase-root {
                    width: 25%;
                    background: $yellow;
                    border: 1px solid $pink;
                    font-family: 'Garet';
                }
            }

            textarea {
                width: 75%;
                padding-top: 1%;
                margin-top: 1%;
            }

            .magicCheckoutForm {
                display: flex;
                justify-content: space-between;
                width: 25%;
                margin: 13px auto;
                align-items: center;
            }

            .magicCheckoutInput {
                border: 1px solid black;
                height: 25px;
                border-radius: 15px;
                font-family: 'Garet';
                width: 66%;
                padding: 0 2%;
            }
            
            .magicCheckoutTextArea {
                border: 1px solid black;
                height: 25px;
                border-radius: 15px;
                font-family: 'Garet';
                width: 66%;
                padding: 1% 2%;
                height: 150px;
            }

            #magicCheckoutColorPickersContainer,
            #magicCheckoutEmojiPickersContainer,
            #magicCheckoutWantGraphicsContainer {
                display: flex;
                flex-wrap: wrap;
                align-items: center;
            }
            
            #magicCheckoutColorPickersContainer {
                width: 100%;
                justify-content: space-between;
            }

            #magicCheckoutEmojiPickersContainer {
                display: flex;
                flex-direction: column;
                
                .magicEmojiPickerContainer {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin: 1% 0;
                    width: 100%;
            
                    .magicEmojiContainer {
                        width: 15vw;
                        height: 15vw;
                        background: $yellow;
                        border: 1px solid $pink;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;

                        img {
                            height: 50%;
                        }
                    }
                }
            }
        }
    }

    #magicCheckoutSubmitButton {
        background: $yellow;
        color: $pink;
        font-size: 4vw;
        padding: 13px;
        cursor: pointer;
        font-family: 'Garbata';
        font-weight: bold;
        margin: 5%;
        width: 90%;
        border: 2px solid black;
    }

    #magicCheckoutStatus {
        position: absolute;
        right: 25px;
        font-family: 'Garet';
        font-size: 3vw;
        color: $pink;
    }
}

.react-toggle {
    touch-action: pan-x;

    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.react-toggle--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
}

.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4D4D4D;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000000;
}

.react-toggle--checked .react-toggle-track {
    background-color: #19AB27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128D15;
}

.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-check {
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0px;
    bottom: 0px;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}

.react-toggle-thumb {
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19AB27;
}

.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 3px 2px #0099E0;
    -moz-box-shadow: 0px 0px 3px 2px #0099E0;
    box-shadow: 0px 0px 2px 3px #0099E0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0px 0px 5px 5px #0099E0;
    -moz-box-shadow: 0px 0px 5px 5px #0099E0;
    box-shadow: 0px 0px 5px 5px #0099E0;
}