@import '../../colors.scss';

.teamMemberContainer {
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 10vw;
        height: 10vw;
        object-fit: cover;
        border-radius: 50%;
    }

    .teamMemberTextContainer {
        display: flex;
        flex-direction: column;
        height: 51%;
        justify-content: space-between;
        margin-left: 2vw;
        font-family: "Garet";
        font-size: 1.3vw;

        .teamMemberName {
            color: $pink;
            font-weight: 600;
            font-size: 1.6vw;
        }
    }
}