@import '../../../colors.scss';

#allBlogPostsPageContainer {
    background-color: $yellow;
    padding: 50px;
    min-height: calc(100vh - 100px);

    #allBlogPostsPageTitleContainer {
        background-color: $pink;
        width: 33vw;
        display: flex;
        flex-direction: column;
        border: 3px solid black;
        margin: auto;
        position: relative;
        padding: 0.5vw;
        padding-top: 1.5vw;
        text-align: center;
        color: white;

        img {
            position: absolute;
            right: -2vw;
            width: 7vw;
            top: -2vw;
        }
    }

    #allBlogPostsPageBlogPostsList {
        display: flex;
        justify-content: space-around;
        padding: 50px;
        box-sizing: border-box;

        a {
            width: 31%;

            .allBlogPostsPageBlogPostContainer {
                background: white;
                height: 100%;
                border: 3px solid black;
                padding: 25px;
                box-sizing: border-box;
                position: relative;
                text-align: left;
                font-size: 1.5vw;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-direction: column;
                overflow: hidden;
                z-index: 99;
                max-width: 1000px;

                h2 {
                    margin-bottom: 25px;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}