@import '../../colors.scss';

@mixin white-card {
    background: #ffffff;
    border: 2px solid #999999;
    border-radius: 10px;
    margin: 0 auto;
    padding: 20px;
}

#createBlogPostContainer {
    background: $pink;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    #createBlogPostTitleContainer {
        background-color: $yellow;
        width: 50vw;
        display: flex;
        flex-direction: column;
        border: 3px solid black;
        margin: 25px auto;
        position: relative;
        padding: 0.5vw;
        padding-top: 1.5vw;

        h1 {
            display: flex;
            justify-content: center;
            font-family: "Hatton";
            font-size: 3.5vw;
            text-transform: uppercase;
        }

        img {
            position: absolute;
            right: -2vw;
            width: 5vw;
            top: -2vw;
        }
    }
    
    #createBlogPostTipTapContainer {
        margin: 0 auto;

        ul, ol, li {
            list-style: unset;
        }
        
        > nav {
            @include white-card;

            margin-bottom: 50px;
            padding: 18px 20px;

            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }

            li {
                display: inline-block;
                line-height: 2.5;
                margin-right: 5px;
            }

            a {
                border: 2px solid transparent;
                border-radius: 5px;
                padding: 5px;
                color: #005D71;
                text-decoration: none;
                font-weight: bold;

                &.selected {
                    background: #007992;
                    color: #ffffff;
                    cursor: default;
                }
            }

            a:hover:not(.selected) {
                border: 2px solid #007992;
            }
        }
    }
}

.WhiteCard {
    @include white-card;
}

.WhiteCard+h2 {
    margin: 20px 20px 5px;
}

.WhiteCard+.WhiteCard {
    margin-top: 20px;
}

.WhiteCard>pre {
    min-height: 15px;
    margin: 0;
    white-space: pre-wrap;
}