@import '../colors.scss';

.left, .right {
    width: 50%;
    height: 100%;
    display: inline-block;
    vertical-align: bottom;
    position: relative;
}

.homeSection {
    height: 100vh;
    overflow: hidden;
    
    &:nth-of-type(even) {
        background: $yellow;
    }
    &:nth-of-type(odd) {
        background: $pink;
    }
}

img.halfSection {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#landingRight {
    position: absolute;
    width: 50%;
    left: 15%;
    top: 25%;
}
#landingRight h1 {
    font-size: 7vw;
    color: $white;
    font-family: 'Hatton';
    font-weight: 400;
}
#landingRight span {
    font-size: 1vw;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.4vw;
    font-family: "Garet";
    margin-top: 1vh;
    display: block;
}
#landingRight p {
    color: $white;
    font-family: "Garbata";
    font-weight: 700;
    font-size: 1.5vw;
    margin-top: 3vh;
    line-height: 3vh;
}
img#landingStarsTwinkleSmall {
    position: absolute;
    top: 8.9vw;
    width: 1.7vw;
    right: 9.7vw;
}
img#landingStarsTwinkleLarge {
    position: absolute;
    right: -11vw;
    top: 2vh;
    width: 13vw;
}
span#angelusProductions {
    position: absolute;
    left: 3vw;
    font-family: 'Hatton';
    color: white;
    bottom: 2vh;
    font-size: 0.8vw;
}

img#bioLeftMagic {
    left: -23vw;
    height: 146%;
    position: absolute;
    top: -45vh;
    transform: rotate(5deg);
    filter: opacity(0.4);
}
div#bioLeft {
    top: 20vh;
    position: absolute;
    left: 33%;
    width: 50%;
}
#bioLeft h2 {
    color: $pink;
    font-family: 'Hatton';
    font-weight: 400;
    font-size: 3.2vw;
}
#bioLeft p {
    color: $black;
    font-family: "Garbata";
    font-weight: 700;
    font-size: 1.3vw;
    margin-top: 3vh;
    line-height: 3vh;
}

section#brands {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    padding-bottom: 10vh;
}
.brandLogo {
    width: 15%;
}
.brandLogosContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
#brandsHelped .brandLogosContainer {
    padding: 0 10vw;
}
#brandsCollaborated .brandLogosContainer {
    padding: 0 3vw;
}
#brandsFeatured .brandLogosContainer {
    padding: 0 5vw;
}
#brandsHelped h3,
#brandsCollaborated h3,
#brandsFeatured h3 {
    font-family: "Hatton";
    color: white;
    text-align: center;
    font-size: 1.8vw;
    margin-bottom: 3vh;
}
#brandsFeatured h3 {
    font-size: 3vw;
    color: $yellow;
}
.brandsSection {
    margin-top: 5vw;
}

#films .left {
    width: 33%;
}
#filmsLeft {
    position: absolute;
    left: 15%;
    width: 70%;
    top: 33%;
}
#filmsLeft h2 {
    font-family: 'Hatton';
    font-size: 3.5vw;
    color: $pink;
    margin-bottom: 3vh;
}
#filmsLeft p {
    color: $black;
    font-family: "Garbata";
    font-weight: 700;
    font-size: 1.4vw;
    margin-top: 3vh;
    line-height: 3vh;
}
#films .right {
    width: 67%;
}
.film {
    width: 50%;
    margin-top: 15%;
    display: flex;
    position: absolute;
    flex-direction: column;
    text-align: center;
    top: 18%;
}
.film img {
    height: 33vw;
    object-fit: contain;
    margin-bottom: 1vw;
}
#theSovereign {
    right: 0;
}
.film span {
    font-family: 'Garbata';
    font-weight: 600;
    color: $pink;
    font-size: 1.1vw;
}

#socialMedia .left {
    width: 50%;
}
#socialMedia .left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
div#socialMediaRight {
    height: 100%;
    padding: 0 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#socialMediaRight p {
    color: $white;
    font-family: 'Garbata';
    font-weight: 600;
    width: 45%;
    line-height: 3vh;
    font-size: 1.6vw;
}
div#socialMediaPhone {
    width: 50%;
    display: flex;
    flex-direction: column;
}
#socialMediaPhone div {
    display: flex;
    justify-content: space-between;
    padding: 0 1vw;
    margin-bottom: 0.7vh;
}
#socialMediaPhone a img {
    width: 2vw;
    height: 2vw;
}