#navbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.navbarSection {
    width: 50%;
    display: flex;
    justify-content: space-around;
    padding-top: 2vh;
}

#navbarCloudContainer {
    position: absolute;
    text-align: center;
    z-index: 1;
}
#navbarCloudContainer img {
    width: 50vw;
    left: 25vw;
    position: absolute;
}
#navbarCloudContainer span {
    position: absolute;
    top: 14vw;
    left: 31vw;
    width: 37vw;
    font-size: 3vw;
    font-family: "Garbata";
    font-weight: 600;
    letter-spacing: 0.1vw;
    z-index: 99;
}