#navbar {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;

    &.burger {
        width: 100vw;
        flex-direction: column;
        margin-top: 10%;

        .navbarSection {
            flex-direction: column;
            padding: 0;
            width: 100%;
            text-align: center;

            .navbarLink {
                font-size: 8vw;
            }
        }
    }
}

.navbarSection {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
