@import '../../../../colors.scss';

.navbarLink {
    color: $yellow;
    text-decoration: none;
    font-family: "Hatton";
    font-size: 1.5vw;
    z-index: 99;
    position: relative;
}

.navbarTooltip {
    cursor: help;
    display: flex !important;
    align-items: center;
}

.tippy-popper {
    font-family: 'Garbata';
    font-weight: bold;
}