@import '../colors.scss';

@media (max-width: 600px) {
    #meetTheTeamPage {
        .right {
            width: 100% !important;
        }

        #teamTitleContainer {
            font-size: 7vw !important;
            height: 15vh !important;
            width: 25% !important;

            #teamDownwardSpiral {
                top: 69vh !important;
                right: unset !important;
                left: 38vw;
                width: 50vmin !important;
            }
        }

        #teamMembersContainer {
            margin-top: 20vh;
            height: 50vh;
        }
    }
}

#meetTheTeamPage {
    background: $yellow;
    height: 90vh;
    padding: 5vh;
    overflow: hidden;
    display: flex;

    #teamTitleContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-family: 'Hatton';
        font-size: 5vw;
        height: 45vh;
        margin: 0;
        
        #multipotentialite {
            color: $pink;
        }
        
        #teamDownwardSpiral {
            position: absolute;
            top: 45vh;
            right: 0%;
            width: 45vmin;
        }
    }

    #teamMembersContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}