@import '../../colors.scss';

@media (max-width: 640px) {
    .minifiedPhoto {
        display: block !important;
        border: 1px solid $yellow;
        padding: 10px;
    }

    #homeBurgerIcon {
        display: block !important;
        width: 35px !important;
        height: 35px !important;
        position: absolute !important;
        left: 35px !important;
        top: 35px !important;
        right: unset !important;
        cursor: pointer;
        z-index: 99;
        filter: brightness(0);
    }

    section#landing {
        flex-direction: column-reverse;

        .right {
            width: 100%;

            #landingMinifiedBackground {
                position: absolute;
                object-fit: cover;
                object-position: right;
                right: -172%;
            }
            #dalmadanielaTitle {
                width: 100%;
                justify-content: center;
                flex-direction: column;

                #dalmadanielaLogoContainer {
                    #dalmadanielaTitleFaceIcon {
                        width: 12vw !important;
                    }
            
                    h3 {
                        font-size: 4.5vw;
                    }
                }
            
                p {
                    font-weight: 300;
                    text-align: center;
                    line-height: 6vw;
                    margin-top: 0 !important;
                    font-size: 3.9vw;
                    width: 53%;
                }

                h1 {
                    margin-top: 2vw !important;
                    font-size: 8vw !important;
                    text-align: center;
                    width: 55%;
                    margin-bottom: 3vw;
                }
    
                #landingStarsTwinkleLarge {
                    right: -25vw !important;
                    top: -13vw !important;
                    width: 25vw !important;
                }
            }
        }

        .left {
            width: 100% !important;
            height: 120%;

            span#angelusProductions {
                font-size: 2.5vw !important;
            }
        }
    }

    section#bio {
        .right {
            display: none;
        }

        .left {
            width: 100%;
        }

        img#bioLeftMagic {
            left: -23vw;
            height: 146%;
            position: absolute;
            top: -45vh;
            transform: rotate(5deg);
            filter: opacity(0.4);
        }

        div#bioLeft {
            justify-content: space-evenly !important;

            h2 {
                font-size: 10vw !important;
            }

            p {
                font-size: 5vw !important;
                line-height: 7vw !important;
                margin: 0 !important;
            }

            #bioMinifiedPhoto {
                padding: 10px;
                border: 1px solid $pink;
            }
        }
    }

    section#brands {
        padding-bottom: 5vw !important;

        #brandsHelped .brandLogo {
            width: 17% !important;
        }

        #brandsCollaborated .brandLogo {
            width: 20% !important;
        }

        #brandsFeatured .brandLogo {
            width: 18% !important;
        }

        #brandsHelped h3,
        #brandsCollaborated h3,
        #brandsFeatured h3 {
            text-align: center;
            font-size: 3.5vw !important;
            margin-bottom: 5vw !important;
        }

        #brandsCollaborated h3 {
            margin-bottom: 0 !important;
        }

        #brandsFeatured {
            margin-top: 0 !important;

            h4 { 
                font-size: 4vw !important;
                width: 80% !important;
            }
        }
    }

    section#films {
        display: flex;
        flex-direction: column;
        height: fit-content !important;

        .left,
        .right {
            width: 100% !important;
            height: 70% !important
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        #filmsLeft {
            h2 {
                font-size: 10vw !important;
            }

            p {
                font-size: 5vw !important;
                margin-top: 5vw !important;
                line-height: 7vw !important;
            }
        }

        .film {
            width: 100% !important;
            position: relative !important;
            top: 0 !important;
            flex-direction: row-reverse !important;
            justify-content: space-evenly;
            align-items: center;

            img {
                height: unset !important;
                width: 31vw !important;
            }

            span {
                font-size: 4vw !important;
                width: 25vw !important;
            }
        }

        #theSovereign {
            right: unset !important;
        }
    }

    section#socialMedia {
        .left {
            display: none;
        }

        .right {
            width: 100% !important;
        }

        #socialMediaRight {
            padding: 0 5% !important;
            width: 90% !important;

            p {
                line-height: 7vw !important;
                font-size: 5vw !important;
            }
        }

        #socialMediaPhone {
            a img {
                width: 5vw !important;
                height: 5vw !important;
            }
        }
    }

    #garettTestimonial h2 {
        font-size: 11vw !important;
    }

    .testimonial {
        .left {
            padding-left: 5% !important;
        }

        p {
            font-size: 3.2vw !important;
            width: 95% !important;
        }

        .right {
            width: 45% !important;
            justify-content: center !important;
        }

        .testimonialLabel {
            font-size: 3.7vw !important;
        }

        img.testimonialPhone {
            width: 93.5% !important;
        }
    }

    section#teachYou {
        #whiteChickStars {
            bottom: -33vw !important;
            width: 46vw !important;
            left: 35vw !important;
        }

        #teachYouTextcontainer {
            right: 20%;
            top: unset !important;
            bottom: 18%;
            width: 50%;
            padding: 3vw;
            
            #teachYouTeachYouText {
                font-size: 6vw;
            }
        
            p#teachYouClassName {
                font-size: 4.5vw;
            }
        
            a#teachYouClassCta {
                width: 85%;
                padding: 2vw 2vw;
                margin-top: 3vw;
                font-size: 3.7vw;
            }
        }
    }

    section#classAbout {
        height: 250vw;

        .left {
            display: none !important;
        }

        .right {
            width: 100% !important;
            padding: 0 10% !important;
            height: 100% !important;

            #mobileClassTitle {
                display: block !important;
                background: $yellow;
                color: $pink;
                text-transform: uppercase;
                font-family: 'Hatton';
                font-size: 4.5vw;
                letter-spacing: 2px;
                text-align: center;
                margin-top: 5%;
            }

            span {
                &.part1 {
                    margin-top: 0 !important;
                    font-size: 4vw !important;
                }

                &.part2 {
                    margin-bottom: 0 !important;
                    font-size: 3.8vw !important;
                }

                &.part3 {
                    font-size: 3.2vw !important;
                }

                &.part4 {
                    font-size: 4.3vw !important;
                }

                &.part5 {
                    font-size: 3vw !important;
                }
            }

            ul {
                font-size: 3.4vw !important;
            }

            a {
                font-size: 5vw !important;
                padding: 4% 0 !important;
            }
        }
    }
}