@import '../../colors.scss';

@media (max-width: 640px) {
    .minifiedPhoto {
        display: block !important;
        border: 1px solid $yellow;
        padding: 10px;
    }

    #homeBurgerIcon {
        display: block !important;
        width: 35px !important;
        height: 35px !important;
        position: absolute !important;
        right: 10px !important;
        top: 10px !important;
        left: unset !important;
        cursor: pointer;
        z-index: 99;
        filter: brightness(0);
    }

    section#landing {
        flex-direction: column;

        .left {
            width: 100%;

            #landingMinifiedBackground {
                position: absolute;
                object-fit: cover;
                object-position: right;
                right: -172%;
            }

            #dalmadanielaTitle {
                width: 100%;
                justify-content: center;
                flex-direction: column;

                #dalmadanielaLogoContainer {
                    #dalmadanielaTitleFaceIcon {
                        width: 12vw !important;
                    }

                    h3 {
                        font-size: 4.5vw;
                    }
                }

                p {
                    font-weight: 300;
                    margin-top: 0 !important;
                    font-size: 3.8vw;
                    width: 75%;
                    margin-bottom: 2vw;
                }

                h1 {
                    margin-top: 5vw !important;
                    font-size: 6vw !important;
                    width: 75%;
                    margin-bottom: 3vw;
                }
            }
        }

        .right {
            width: 100% !important;
            
            #dalmaTitle {
                display: none;
            }
        }
    }

    section#bio {
        flex-direction: column;

        .right {
            display: none;
        }

        .left {
            width: 100%;
        }

        div#bioLeft {
            width: 75%;
            padding: 0 5% !important;

            h2 {
                font-size: 6vw !important;
                margin-bottom: 5vw !important;
                width: 67%;
            }

            p {
                font-size: 3.8vw !important;
            }

            a {
                font-size: 3.8vw !important;
            }
        }

        img {
            width: 50% !important;

            &:nth-of-type(2) {
                margin-top: 10%;
            }
        }
    }

    section#brands {
        padding-bottom: 10vw !important;

        #brandsHelped .brandLogo {
            width: 17% !important;
        }

        #brandsCollaborated .brandLogo {
            width: 20% !important;
        }

        #brandsFeatured .brandLogo {
            width: 18% !important;
        }

        #brandsHelped h3,
        #brandsCollaborated h3,
        #brandsFeatured h3 {
            text-align: center;
            font-size: 3.5vw !important;
            margin-bottom: 5vw !important;
        }

        #brandsCollaborated h3 {
            margin-bottom: 0 !important;
        }

        #brandsFeatured {
            margin-top: 0 !important;

            h4 {
                font-size: 4vw !important;
                width: 80% !important;
            }
        }
    }

    section#socialMedia {
        flex-direction: column;
        margin-top: 10%;

        p {
            font-size: 3.8vw !important;
            width: 75%;
            margin-bottom: 10%;
        }

        #socialMediaPhone {
            width: 50% !important;

            a img {
                width: 5vw !important;
                height: 5vw !important;
            }
        }
    }

    #garettTestimonial h2 {
        font-size: 11vw !important;
    }

    .testimonial {
        .left {
            padding-left: 5% !important;
        }

        p {
            font-size: 3.2vw !important;
            width: 95% !important;
        }

        .right {
            width: 45% !important;
            justify-content: center !important;
        }

        .testimonialLabel {
            font-size: 3.7vw !important;
        }

        img.testimonialPhone {
            width: 93.5% !important;
        }
    }

    section#teachYou {
        #whiteChickStars {
            bottom: -33vw !important;
            width: 46vw !important;
            left: 35vw !important;
        }

        #teachYouTextcontainer {
            right: 20%;
            top: unset !important;
            bottom: 18%;
            width: 50%;
            padding: 3vw;

            #teachYouTeachYouText {
                font-size: 6vw;
            }

            p#teachYouClassName {
                font-size: 4.5vw;
            }

            a#teachYouClassCta {
                width: 85%;
                padding: 2vw 2vw;
                margin-top: 3vw;
                font-size: 3.7vw;
            }
        }
    }

    section#classAbout {
        height: 250vw;

        .left {
            display: none !important;
        }

        .right {
            width: 100% !important;
            padding: 0 10% !important;
            height: 100% !important;

            #mobileClassTitle {
                display: block !important;
                background: $yellow;
                color: $pink;
                text-transform: uppercase;
                font-family: 'Hatton';
                font-size: 4.5vw;
                letter-spacing: 2px;
                text-align: center;
                margin-top: 5%;
            }

            span {
                &.part1 {
                    margin-top: 0 !important;
                    font-size: 4vw !important;
                }

                &.part2 {
                    margin-bottom: 0 !important;
                    font-size: 3.8vw !important;
                }

                &.part3 {
                    font-size: 3.2vw !important;
                }

                &.part4 {
                    font-size: 4.3vw !important;
                }

                &.part5 {
                    font-size: 3vw !important;
                }
            }

            ul {
                font-size: 3.4vw !important;
            }

            a {
                font-size: 5vw !important;
                padding: 4% 0 !important;
            }
        }
    }
}