@import '../../colors.scss';

#homeBurgerIcon,
.minifiedPhoto,
#outer-container>div {
    display: none;
}

#landingMinifiedPhoto,
#bioMinifiedPhoto {
    display: none;
}

.homeSection {
    height: 100vh;
    overflow: hidden;
    min-height: 700px;

    &:nth-of-type(even) {
        background: $yellow;
    }

    &:nth-of-type(odd) {
        background: $pink;
        color: white;
    }
}

img.halfSection {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.centerText {
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    align-items: center;
    width: 80%;
    height: 100%;
}

.minifiedPhoto {
    width: 40vw;
    height: 40vw;
    border-radius: 50%;
    object-fit: cover;
    display: block;
}

section#landing {
    #landingRight {
        align-items: baseline;
        justify-content: space-evenly;
        height: 90%;
        margin-top: 10%;

        #dalmaNameContainer {
            position: relative;

            h1 {
                font-size: 7vw;
                color: $white;
                font-family: 'Hatton';
                font-weight: 400;
            }

            #landingStarsTwinkleSmall {
                position: absolute;
                top: 19vw;
                width: 6vw;
                right: 42vw;
            }

            #landingStarsTwinkleLarge {
                position: absolute;
                right: -4vw;
                top: 30vw;
                width: 30vw;
            }
        }

        span {
            font-size: 1.5vw;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.4vw;
            font-family: "Garet";
            display: block;
            color: $yellow;
        }

        p {
            color: $white;
            font-family: "Garbata";
            font-weight: 700;
            font-size: 2vw;
            line-height: 2.5vw;
        }
    }

    span#angelusProductions {
        position: absolute;
        left: 3vw;
        font-family: 'Hatton';
        color: white;
        bottom: 2vh;
        font-size: 0.8vw;
    }
}

section#bio {
    img#bioLeftMagic {
        left: -23vw;
        height: 146%;
        position: absolute;
        top: -45vh;
        transform: rotate(5deg);
        filter: opacity(0.4);
    }

    div#bioLeft {
        h2 {
            color: $pink;
            font-family: 'Hatton';
            font-weight: 400;
            font-size: 3.2vw;
        }

        p {
            color: $black;
            font-family: "Garbata";
            font-weight: 700;
            font-size: 1.3vw;
            margin-top: 3vh;
            line-height: 3vh;
        }
    }
}

section#brands {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: fit-content;
    padding-bottom: 10vh;

    #brandsHelped .brandLogo {
        width: 12%;
    }

    #brandsCollaborated .brandLogo {
        width: 10%;
    }

    #brandsFeatured .brandLogo {
        width: 10%;
    }

    .brandLogosContainer {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }

    #brandsHelped .brandLogosContainer {
        padding: 0 10vw;
    }

    #brandsCollaborated .brandLogosContainer {
        padding: 0 3vw;
    }

    #brandsFeatured .brandLogosContainer {
        padding: 0 5vw;
    }

    #brandsCollaborated>div>img:nth-child(1) {
        transform: scale(0.8);
    }

    #brandsCollaborated>div>img:nth-child(2) {
        transform: scale(0.9);
    }

    #brandsCollaborated>div>img:nth-child(3) {
        transform: scale(0.8);
    }

    #brandsCollaborated>div>img:nth-child(4) {
        transform: scale(0.5);
    }

    #brandsCollaborated>div>img:nth-child(5) {
        filter: drop-shadow(1px 1px 1px 1px black)
    }

    #brandsCollaborated>div>img:nth-child(6) {
        transform: scale(0.7);
    }

    #brandsCollaborated>div>img:nth-child(7) {
        transform: scale(0.8);
    }

    #brandsCollaborated>div>img:nth-child(8) {
        transform: scale(0.95);
    }

    #brandsCollaborated>div>img:nth-child(9) {
        transform: scale(0.7);
    }

    #brandsCollaborated>div>img:nth-child(10) {
        transform: scale(0.8);
    }

    #brandsFeatured>div>img:nth-child(3) {
        transform: scale(0.7);
    }

    #brandsFeatured>div>img:nth-child(7) {
        transform: scale(0.7);
    }

    #brandsHelped h3,
    #brandsCollaborated h3,
    #brandsFeatured h3,
    #brandsFeatured h4 {
        font-family: "Hatton";
        color: white;
        text-align: center;
        font-size: 1.8vw;
        margin-bottom: 3vh;
    }

    #brandsFeatured h3,
    #brandsFeatured h4 {
        font-size: 3vw;
        color: $yellow;
    }

    #brandsFeatured h4 {
        width: 67%;
        margin: 4vh auto 0 auto;
        color: white;
        font-size: 3.5vw;
    }

    .brandsSection {
        margin-top: 5vw;
        margin-bottom: 0;
    }
}

section#films {
    .left {
        width: 33%;
    }

    .right {
        width: 67%;
    }

    #filmsLeft {
        h2 {
            font-family: 'Hatton';
            font-size: 3.5vw;
            color: $pink;
            margin-bottom: 3vh;
        }

        p {
            color: $black;
            font-family: "Garbata";
            font-weight: 700;
            font-size: 1.4vw;
            margin-top: 3vh;
            line-height: 3vh;
        }
    }

    .film {
        width: 50%;
        display: flex;
        position: absolute;
        flex-direction: column;
        text-align: center;
        top: 18%;

        img {
            height: 45vw;
            object-fit: contain;
            margin-bottom: 1vw;
        }

        span {
            font-family: 'Garbata';
            font-weight: 700;
            color: $pink;
            font-size: 1.1vw;
        }
    }

    #theSovereign {
        right: 1%;
    }
}

section#socialMedia {
    
    .left {
        width: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: left;
        }
    }

    div#socialMediaRight {
        height: 100%;
        padding: 0 4vw;
        display: flex;
        justify-content: space-between;
        align-items: center;

        p {
            color: $white;
            font-family: 'Garbata';
            font-weight: 700;
            width: 45%;
            line-height: 3vh;
            font-size: 1.6vw;
        }
    }

    div#socialMediaPhone {
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;

        div {
            display: flex;
            justify-content: space-between;
            padding: 0 1vw;
            margin-bottom: 0.7vh;
        }

        a img {
            width: 2vw;
            height: 2vw;

            &:hover {
                color: black;
            }
        }
    }

    img#socialMediaInstagramPhone {
        z-index: 99;
    }

    img#socialMediaMagic {
        position: absolute;
        bottom: -60vw;
        right: -8vw;
        height: 63vw;
    }
}

#garettTestimonial h2 {
    font-family: "Hatton";
    font-size: 5vw;
    letter-spacing: 0.2vw;
    font-weight: 500;
    transform: translateY(1vw);
}
#garettTestimonial .testimonialMagic,
#evanTestimonial .testimonialMagic {
    transform: scaleX(-1);
}

#evanTestimonial .testimonialMagic {
    right: 0%;
}
.testimonial {
    .left {
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        padding-left: 10%;
    }

    p {
        font-size: 1.9vw;
        font-family: "Garbata";
        font-weight: 400;
        font-style: italic;
        width: 72%;

        .black {
            color: $black;
        }
    }

    .right {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
    }

    .testimonialLabel {
        display: flex;
        flex-direction: column;
        font-size: 3vw;
        font-family: "Garbata";
        font-weight: 700;
        font-style: italic;

        &.pink {
            color: $pink;
        }

        &.yellow {
            color: $yellow;
        }
    }

    img.testimonialPhone {
        width: 67%;
        z-index: 99;
    }

    img.testimonialMagic {
        height: 100%;
        position: absolute;
        right: -20%;
        filter: opacity(0.6);
    }
}

section#teachYou {
    display: flex;
    justify-content: center;
    position: relative;

    #whiteChick {
        filter: opacity(0.5);
    }

    #whiteChickStars {
        position: absolute;
        bottom: -35vw;
        width: 31vw;
        left: 43vw;
    }

    p {
        position: absolute;
        color: black;
        font-family: "Hatton";
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        right: 0%;
        top: 33%;
        text-align: center;
        background: #FEFF7C;
        padding: 2%;
    }
}

section#classAbout {
    padding: 5%;
    position: relative;
    display: flex;
    color: black;

    #magicAboutStars {
        position: absolute;
        left: -280px;
        top: -94px;
        transform: scaleX(-0.8) rotate(-17deg);
    }

    .videoContainer {
        overflow: hidden;
        display: flex;
        justify-content: center;
        position: relative;

        h2 {
            position: absolute;
            background: $yellow;
            color: $pink;
            text-transform: uppercase;
            margin: 5%;
            font-family: 'Hatton';
            font-size: 1.4vw;
            letter-spacing: 2px;
            text-align: center;
            padding: 0.8vw;
            border-radius: 8px;
            padding-top: 1.3vw;
        }
        
        #plantGrowing {
            height: 100%;
        }
    }

    .right {
        background: $yellow;
        padding: 0 5%;
        font-family: 'Garet';
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        font-size: 2.1vmin;

        #mobileClassTitle {
            display: none;
        }

        span {
            display: block;

            &.part1 {
                margin-top: 5%;
                font-weight: bold;
            }

            &.part3 {
                text-transform: uppercase;
                font-weight: 600;
                letter-spacing: 2px;
            }

            &.part4 {
                font-weight: 700;
            }
        }

        ul {
            font-weight: 600;

            li.howTo {
                list-style: initial;
            }
        }

        a {
            background: black;
            color: $yellow;
            display: block;
            width: 100%;
            text-align: center;
            font-size: 2vw;
            font-weight: 600;
            font-family: 'Garbata';
            margin-bottom: 5%;
            padding: 2% 0;

            &:hover {
                background: $pink;
                color: black;
            }

            &:active {
                background: $pink;
                color: $yellow;
            }
        }
    }
}