@import '../../colors.scss';

@media (min-width: 640px) and  (max-width: 1024px) {
    section#landing {
        #landingRight {
            top: 12vmin;

            h1 {
                font-size: 12vmin;
            }
        }
    }

    section#classAbout {
        .right {
            font-size: 1.9vmin;
        }
    }
}