@import '../../colors.scss';

@media (max-width: 640px) {
    #outer-container>div {
        display: block;
    }
    
    #homeBurgerIcon {
        display: block;
        width: 50px;
        position: absolute;
        right: 25px;
        top: 25px;
    }

    #mobileLandingPhoto {
        display: block;
        width: 40vw;
        height: 40vw;
        position: absolute;
        left: 25vw;
        border-radius: 50%;
        top: 6vw;
        object-fit: cover;
    }

    button#react-burger-menu-btn {
        width: 10vw !important;
        height: 10vw !important;
        right: 25px !important;
        left: unset !important;
        top: 25px !important;
        z-index: 100;
    }

    section#landing {
        .right {
            width: 100%;

            h1 {
                font-size: 17vw !important;
            }

            span {
                font-size: 3.7vw !important;
            }

            p {
                font-size: 3vw !important;
                line-height: 4vw !important;
            }

            img#landingStarsTwinkleSmall {
                top: 20vw;
                width: 5vw;
                right: 13vw;
            }

            img#landingStarsTwinkleLarge {
                right: -31vw;
                top: 30vw;
                width: 30vw;
            }
        }

        .left {
            display: none;
        }
    }

    section#bio {
        .right {
            display: none;
        }

        .left {
            width: 100%;
        }

        img#bioLeftMagic {
            left: -23vw;
            height: 146%;
            position: absolute;
            top: -45vh;
            transform: rotate(5deg);
            filter: opacity(0.4);
        }

        div#bioLeft {
            top: 10vh !important;
            left: unset !important;
            width: calc(100% - 20%) !important;
            margin: 0 10%;

            h2 {
                font-size: 10vw !important;
            }

            p {
                font-size: 4vw !important;
                margin-top: 10vw !important;
                line-height: 5vw !important;
            }
        }
    }

    section#brands {
        padding-bottom: 5vw !important;

        #brandsHelped .brandLogo {
            width: 17% !important;
        }

        #brandsCollaborated .brandLogo {
            width: 20% !important;
        }

        #brandsFeatured .brandLogo {
            width: 18% !important;
        }

        #brandsHelped h3,
        #brandsCollaborated h3,
        #brandsFeatured h3 {
            font-family: "Hatton";
            color: white;
            text-align: center;
            font-size: 3.5vw !important;
            margin-bottom: 5vw !important;
        }

        #brandsCollaborated h3 {
            margin-bottom: 0 !important;
        }

        #brandsFeatured {
            margin-top: 0 !important;
        }
    }

    section#films {
        display: flex;
        flex-direction: column;

        .left,
        .right {
            width: 100% !important;
            height: 70% !important
        }

        .right {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        }

        #filmsLeft {
            left: 5% !important;
            width: 90% !important;
            top: 15% !important;

            h2 {
                font-size: 5.8vw !important;
            }

            p {
                font-size: 3.5vw !important;
                margin-top: 5vw !important;
                line-height: 5vw !important;
            }
        }

        .film {
            width: 100% !important;
            position: relative !important;
            top: 0 !important;
            flex-direction: row-reverse !important;
            justify-content: space-evenly;
            align-items: center;

            img {
                height: unset !important;
                width: 25vw !important;
            }

            span {
                font-size: 4vw !important;
                width: 25vw !important;
            }
        }

        #theSovereign {
            right: unset !important;
        }
    }

    section#socialMedia {
        .left {
            display: none;
        }

        .right {
            width: 100% !important;
        }

        #socialMediaRight {
            padding: 0 5% !important;
            width: 90% !important;

            p {
                line-height: 7vw !important;
                font-size: 5vw !important;
            }
        }

        #socialMediaPhone {
            a img {
                width: 5vw !important;
                height: 5vw !important;
            }
        }
    }

    #garettTestimonial h2 {
        font-size: 11vw !important;
    }

    .testimonial {
        .left {
            padding-left: 5% !important;
        }

        p {
            font-size: 3.2vw !important;
            width: 95% !important;
        }

        .right {
            width: 45% !important;
            justify-content: center !important;
        }

        .testimonialLabel {
            font-size: 3.7vw !important;
        }

        img.testimonialPhone {
            width: 93.5% !important;
        }
    }

    section#teachYou {
        #whiteChickStars {
            bottom: -33vw !important;
            width: 46vw !important;
            left: 35vw !important;
        }

        p {
            font-size: 5vw !important;
            right: 5vw !important;
        }
    }

    section#classAbout {
        height: 250vw;

        .left {
            display: none !important;
        }

        .right {
            width: 100% !important;
            padding: 0 10% !important;
            height: 100% !important;

            #mobileClassTitle {
                display: block !important;
                background: $yellow;
                color: $pink;
                text-transform: uppercase;
                font-family: 'Hatton';
                font-size: 4.5vw;
                letter-spacing: 2px;
                text-align: center;
                margin-top: 5%;
            }

            span {
                &.part1 {
                    margin-top: 0 !important;
                    font-size: 4vw !important;
                }

                &.part2 {
                    margin-bottom: 0 !important;
                    font-size: 3.8vw !important;
                }

                &.part3 {
                    font-size: 3.2vw !important;
                }

                &.part4 {
                    font-size: 4.3vw !important;
                }

                &.part5 {
                    font-size: 3vw !important;
                }
            }

            ul {
                font-size: 3.4vw !important;
            }

            a {
                font-size: 5vw !important;
                padding: 4% 0 !important;
            }
        }
    }
}