@import '../../../colors.scss';

#magicFormContainer {
    padding: 5vh 5%;
    min-height: 90vh;
    position: relative;

    h2, h3, input {
        font-family: 'Garbata';
    }

    h3 {
        font-weight: 300;
    }

    #magicFormTitleContainer {
        position: relative;

        h1 {
            font-size: 6vw;
            font-family: 'Garbata';
            font-weight: 300;
            margin-bottom: 5%;
        }

        img#magicFormTitleWand {
            width: 8%;
            position: absolute;
            top: 10%;
            left: 35%;
        }

        img#magicFormTitleWandMagic {
            width: 15%;
            transform: rotate(-112deg) scaleX(-1);
            position: absolute;
            top: -125%;
            left: 50%;
        }
    }
        
    .magicQuestion {
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        h2 {
            font-family: 'Garbata';
        }

        .magicQuestionFormContainer {
            width: 50%;

            .magicFormInput {
                border: 1px solid black;
                font-weight: 300;
                height: 30px;
                border-radius: 15px;
                width: 67%;
                padding: 0 2%;
            }
        }

        .magicQuestionImage {
            width: 33%;
        }

        &.one {
            h2 {
                font-weight: bold;
            }
            h3 {
                margin: 2% 0;
            }


        }
    }

    .magicButton {
        font-family: 'Garbata';
        color: $pink;
        background: none;
        cursor: pointer;
        position: absolute;
        bottom: 5%;
        font-size: 3vw;
        
        &#magicFormBackButton {
            left: 5%;
            color: $pink;
            font-weight: 600;
        }

        &#magicFormNextButton {
            right: 5%;
            background: $green;
            color: white;
            font-family: 'Garet';
            font-weight: bold;
            padding: 5px 15px;
        }
    }

    div#magicFormProgressBarContainer {
        width: 20%;
        position: absolute;
        left: 40%;
        bottom: 10%;

        .CircularProgressbar-path {
            stroke: $green;
            stroke-linecap: round;
            transition: 0.5s ease 0s;
        }

        .CircularProgressbar-trail {
            stroke: $blackFaded;
            stroke-width: 3px;
        }

        .CircularProgressbar-text {
            font-family: 'Hatton';
            fill: $green;
        }
    }
}