@import '../../../colors.scss';

@media (max-width: 640px) {
    .teamMemberContainer {
        .teamMemberPhoto {
            width: 20vw !important;
            height: 20vw !important;
            object-fit: cover;
            border-radius: 50%;
        }

        .teamMemberTextContainer {
            display: flex;
            flex-direction: column;
            height: 51%;
            justify-content: space-between;
            font-family: "Garet";
            font-size: 2.5vw !important;

            .teamMemberName {
                color: $pink;
                font-weight: 600;
                font-size: 3vw !important;
            }
        }

        img#teamHomeIcon {
            height: 10vw !important;
            top: -200px !important;
            width: 10vw !important;
        }
    }
}