@import '../../colors.scss';

#allBlogPostsPageContainer {
    background-color: #FEFF7C;
    height: 100vh;
    padding: 50px;

    #allBlogPostsPageTitleContainer {
        background-color: $pink;
        width: 33vw;
        display: flex;
        flex-direction: column;
        border: 3px solid black;
        margin: auto;
        position: relative;
        padding: 0.5vw;
        padding-top: 1.5vw;
        text-align: center;
        color: white;

        img {
            position: absolute;
            right: -2vw;
            width: 7vw;
            top: -2vw;
        }
    }

    #allBlogPostsPageBlogPostsList {
        height: 69%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
        box-sizing: border-box;

        a {
            height: 100%;

            .allBlogPostsPageBlogPostContainer {
                background: white;
                height: 100%;
                border: 3px solid black;
                padding: 25px;
                box-sizing: border-box;
                position: relative;
                text-align: left;
                font-size: 2vw;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-direction: column;
                overflow: hidden;
                z-index: 99;
        
                h2 {
                    margin-bottom: 25px;
                }
        
                img {
                    width: 100%;
                }
            }
        }
    }
}