@import '../../../../colors.scss';

.navbarLink {
    color: $yellow;
    text-decoration: none;
    font-family: "Garbata";
    font-weight: 300;
    font-size: 1.5vw;
    z-index: 97;
    position: relative;
}

.navbarTooltip {
    cursor: help;
    display: flex !important;
    align-items: center;
}

.tippy-popper {
    font-family: 'Garbata';
    font-weight: bold;
}