@import '../colors.scss';

#blogPageContainer {
    background: $pink;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;

    #blogPageHomeIcon {
        position: absolute;
        width: 5vw;
        left: 25px;
        top: 25px;
    }

    #blogPageTitleContainer {
        background-color: $yellow;
        width: 50vw;
        display: flex;
        flex-direction: column;
        border: 3px solid black;
        margin: auto;
        position: relative;
        padding: 0.5vw;
        padding-top: 1.5vw;

        h1 {
            display: flex;
            align-items: center;
            height: 100%;
            font-family: 'Hatton';
            font-size: 3.5vw;
        }

        img {
            position: absolute;
            right: -7vw;
            width: 12vw;
            top: -5vw;
        }
    }
}