@import '../../colors.scss';

@media (min-width: 1024px) {
    #blogPageContainer {
        #blogPageTitleContainer h1 {
            display: block;
            font-size: 2vw;
            text-transform: uppercase;
        }

        #blogPageTitleContainer {
            img {
                width: 10vw;
                top: -5.5vw;
            }
        }

        #blogPageHilightsContainer a {
            height: 62vh;

            h2 {
                margin-bottom: 25px;
                font-size: 1.4vw;
            }

            img {
                width: 100%;
                height: 80%;
                object-fit: cover;
                object-position: left;
            }
        }
    }
}