@import '../../../colors.scss';

@media (min-width: 1024px) {
    #superClassPopUpContainer {
        width: calc(75vw - 6px);
        left: 12.5vw;
        font-size: 1vmin;

        &.thankYou {
            height: 50vh;
        }

        #superClassPopUpCloseButton {
            width: 3vw;
        }

        #superClassPopUpHeaderContainer {
            font-size: 4.3vmin;
            margin-top: 3vmin;
        }

        #superClassPopUpEmailContainer,
        #superClassPopUpNameContainer {
            label {
                font-size: 3.4vmin;
            }

            input {
                font-size: 3vmin;
                height: 50%;
            }
        }

        #superClassPopUpSubscribeButton {
            font-size: 2vw;
            height: 75px;
        }

        #superClassPopUpValidationError {
            font-size: 2vw;
        }

        .thankYou1 {
            margin-top: 25px;
            font-size: 4vw;
        }

        .thankYou2 {
            font-size: 2vw;
        }
    }
}