@import '../../../colors.scss';

@media (max-width: 640px) {
    #superClassPopUpContainer {
        width: calc(75vw - 6px);
        left: 12.5vw;
        font-size: 2vmin;
        height: 50vh;

        &.thankYou {
            height: 25vh;
        }

        #superClassPopUpCloseButton {
            width: 5vw;
            position: absolute;
            right: 15px;
            top: 15px;
            cursor: pointer;
        }

        #superClassPopUpHeaderContainer {
            font-size: 4.3vmin;
            margin-top: 6vmin;
        }

        #superClassPopUpEmailContainer {
            label {
                font-size: 4.4vmin;
            }

            input {
                font-size: 4vw;
            }
        }

        #superClassPopUpSubscribeButton {
            font-size: 5vw;
        }

        .thankYou1 {
            margin-top: 25px;
            font-size: 8vw;
        }
        .thankYou2 {
            font-size: 4vw;
        }
    }
}