@import '../../colors.scss';

main#superClassPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: black;
    min-height: 825px;

    h1,
    h3 {
        position: absolute;
        color: $yellow;
    }

    h1 {
        font-family: "Garbata";
        font-size: 10vw;
        bottom: 27%;
        font-weight: 600;
    }

    h3 {
        top: 5vh;
        font-family: 'Garet';
        font-size: 3.1vw;
    }
        
    #superClassTvStatic {
        position: absolute;
        top: -33%;
    }
        
    #superClassStarTwinkles {
        position: absolute;
        right: 15%;
        bottom: 20%;
        width: 20vw;
    }

    #superClassNavigationContainer {
        position: absolute;
        text-align: center;
        padding: 10px;
        background: $yellow;
        border-radius: 8px;
        bottom: 5%;
        font-weight: 600;
        font-size: 3vw;

        #superClassDate {
            font-family: "Garet";
        }

        #superClassHomeText {
            font-family: "Hatton";
            color: $pink;

            a {
                text-decoration: underline;

                &:hover {
                    color: black;
                    text-decoration: none;
                }

                &:active {
                    color: $pink;
                    transform: scale(0.98);
                }
            }
        }
    }
}