@import '../../colors.scss';

@media (max-width: 640px) {
    main#superClassPage {
        h1 {
            font-size: 13vw !important;
        }

        h3 {
            text-align: center;
            font-size: 5.5vw !important;
        }

        #superClassTvStatic {
            transform: scaleX(0.6) scaleY(0.8);
        }

        #superClassStarTwinkles {
            right: 5vw;
            bottom: 45vw;
            width: 39vw;
        }

        #superClassNavigationContainer {
            padding: 20px !important;
            bottom: 8% !important;
            font-size: 5vw !important;
        }
    }
}