@import '../colors.scss';

#blogPageContainer {
    background: $pink;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;

    #blogPageCreateBlogIcon {
        width: 5vw;
        position: absolute;
        left: 25px;
        top: calc(50px + 5vw);
    }

    #blogPageTitleContainer {
        background-color: $yellow;
        width: 50vw;
        display: flex;
        flex-direction: column;
        border: 3px solid black;
        margin: auto;
        margin-top: calc(100px + 4vw);
        position: relative;
        padding: 0.5vw;
        padding-top: 1.5vw;

        h1 {
            display: flex;
            align-items: center;
            height: 100%;
            font-family: 'Hatton';
            font-size: 3.5vw;
            text-transform: uppercase;
        }

        img {
            position: absolute;
            right: -7vw;
            width: 12vw;
            top: -5vw;
        }
    }

    #blogPageHilightsContainer {
        height: 69%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 50px;
        box-sizing: border-box;

        a {
            height: 100%;

            .blogPageBlogPostContainer {
                background: white;
                height: 100%;
                border: 3px solid black;
                padding: 25px;
                box-sizing: border-box;
                position: relative;
                text-align: left;
                font-size: 2vw;
                cursor: pointer;
                display: flex;
                align-items: center;
                flex-direction: column;
                overflow: hidden;
                z-index: 99;

                h2 {
                    margin-bottom: 25px;
                }

                img {
                    width: 100%;
                }
            }
        }
        
    }
    
    #blogPageAllBlogPostsLink {
        position: absolute;
        bottom: 15px;
        right: 25px;
        font-family: 'Garbata';
        font-weight: 600;
        font-style: italic;
    }
}