@import '../../colors.scss';

@media (min-width: 640px) and  (max-width: 1024px) {
    section#landing {

    }

    section#bio {
        
    }

    section#brands {
        
    }

    section#films {
        
    }

    section#socialMedia {
        
    }

    section#teachYou {
        
    }

    section#classAbout {
        
    }
}