@import '../../colors.scss';

@media (max-width: 640px) {
    main#superClassPage {

        h1 {
            font-size: 6.5vw;
        }
        section#superClassBrands {
            padding-bottom: 10% !important;
    
            #brandsHelped .brandLogo {
                width: 17% !important;
            }
    
            #brandsCollaborated .brandLogo {
                width: 20% !important;
            }
    
            #brandsFeatured .brandLogo {
                width: 23% !important;
            }
    
            #brandsHelped h3,
            #brandsCollaborated h3,
            #brandsFeatured h3 {
                font-family: "Garbata";
                text-align: center;
                font-size: 3.5vw !important;
                margin-bottom: 5% !important;
            }
    
            #brandsCollaborated h3 {
                margin-bottom: 0 !important;
            }
    
            #brandsFeatured {
                margin-top: 0 !important;

                h3 {
                    font-family: 'Garbata';
                    margin-top: 5% !important;
                }

                h4 {
                    width: 80%;
                }
            }
        }

        .superClassTestimonialContainer {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 100%;

            p {
                font-size: 3vw;
                width: 90% !important;
                margin: 5% 0px !important;
            }

            div {
                h4 {
                    font-size: 5vw;
                }

                h5 {
                    font-size: 3vw;
                    margin: 1% 0;
                }

                h6 {
                    font-size: 2.5vw;
                }
            }
        }

        ul#superClassFeaturesList,
        ul#superClassPerfectForList {
            li {
                font-size: 3.3vw;
    
                img {
                    transform: translate(-1vw, 0.5vw);
                    width: 3.5vw;
                }
            }
        }

        div#superClassPerfectForListContainer {

            #superClassPerfectForList {
                transform: none;
            }

            h2 {
                font-size: 6vw;
            }
        }
    }
}