@import '../../colors.scss';

@media (max-width: 640px) {
    main#superClassPage {
        section#superClassBrands {
            padding-bottom: 5vw !important;
    
            #brandsHelped .brandLogo {
                width: 17% !important;
            }
    
            #brandsCollaborated .brandLogo {
                width: 20% !important;
            }
    
            #brandsFeatured .brandLogo {
                width: 18% !important;
            }
    
            #brandsHelped h3,
            #brandsCollaborated h3,
            #brandsFeatured h3 {
                font-family: "Hatton";
                text-align: center;
                font-size: 3.5vw !important;
                margin-bottom: 5vw !important;
            }
    
            #brandsCollaborated h3 {
                margin-bottom: 0 !important;
            }
    
            #brandsFeatured {
                margin-top: 0 !important;
            }
        }
    }
}