@import '../../colors.scss';

@media (max-width: 640px) {
    main#superClassPage {
        flex-direction: column;

        #superClassTvStatic,
        #classAboutContainer {
            position: relative !important;
        }

        #classAboutContainer {
            width: 90% !important;
            font-size: 2.9vw !important;
            right: 0 !important;
            padding: 5%;
            justify-content: space-between;
        }

        #superClassTvStatic {
            left: unset !important;
            width: unset !important;
            height: unset !important;
        }

        button#classCta {
            height: unset !important;
            padding: 10px;
            font-size: 5vw !important;
        }
    }
}