@import '../../../colors.scss';

#superVideosPageContainer {
    background: black;
    color: white;
    box-shadow: inset 0 0 0 1px $yellow;
    padding: 10%;
    font-family: 'Garet';
    min-height: 100vh;

    a:nth-of-type(1) {
        filter: drop-shadow(0px 1px 3px $white);
        position: absolute;
        left: 25px;
        top: 25px;
    }

    h1 {
        font-size: 6vw;
        margin-bottom: 15%;
        font-family: 'Garbata';
        font-weight: 100;
        text-align: center;

        span {
            color: $yellow;
            font-weight: 300;
        }
    }

    .superVideoContainer {
        text-align: center;
        height: 33%;
        display: flex;
        border: 1px solid;
        flex-direction: column;
        justify-content: center;
        margin: 5%;
        padding-top: 5%;

        img {
            width: 80%;
            height: 50%;
            object-fit: cover;
            object-position: top;
            margin: auto;
        }
    }
}