@import '../../../colors.scss';

#superVideosPageContainer {
    background: black;
    color: white;
    box-shadow: inset 0 0 0 1px $yellow;
    padding: 15% 10%;
    font-family: 'Garet';
    min-height: 100vh;

    a:nth-of-type(1) {
        filter: drop-shadow(0px 1px 3px $white);
        position: absolute;
        left: 25px;
        top: 0;
    }

    #superClassVideosHello {
        position: absolute;
        left: calc(5vw + 50px + 5%);
        top: 5%;
        font-family: 'Hatton';
        font-size: 2vw;
    }

    .superClassLogoutButton {
        color: $yellow;
        font-family: 'Hatton';
        background: none;
        cursor: pointer;
        font-size: 2vw;
        position: absolute;
        top: 5%;
        right: 5%;
    }

    h1 {
        font-size: 6vw;
        margin-bottom: 12.5%;
        font-family: 'Garbata';
        font-weight: 100;
        text-align: center;

        span {
            color: $yellow;
            font-weight: 300;
        }
    }
}