@import '../../colors.scss';

#magicCalendarsPage {
    .magicCalendarsSection {
        height: 100vh;
        width: 100%;
        overflow: hidden;
        position: relative;
    }
    
    section#titleSection {
        text-align: center;
        padding-top: 7%;
        
        h1 {
            font-family: 'Garbata';
            font-size: 6.8vw;
            width: 80%;
            margin: auto;
            font-weight: 300;
        }

        h2 {
            font-family: 'Garet';
            text-transform: uppercase;
            background: $pink;
            color: $yellow;
            padding: 12px;
            font-size: 2vw;
            width: 25%;
            margin: 25px auto;
        }

        h3 {
            font-family: 'Garet';
            font-size: 1.6vw;
        }

        #magicCalendarsTitleSectionWandContainer {
            position: absolute;

            #magicCalendarsTitleSectionWand {
                width: 67vw;
            }

            #magicCalendarsTitleSectionWandMagic {
                width: 30vw;
                position: absolute;
                top: 33%;
                right: -17%;
                z-index: -1;
                animation: flash infinite 10000ms ease-in-out;
            }
        }

        #magicCalendarsTitleSectionComputerHands {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -2;
        }

        #magicCalendarsTitleSectionWandBackgroundMagic {
            position: absolute;
            z-index: -1;
            right: 0;
            transform: scaleX(-1);
            top: 0;
            width: 33vw;
            filter: opacity(0.7);
            right: -5vw;
        }
    }

    section#smallBusinessSection {
        display: flex;
        align-items: center;
        background: linear-gradient(180deg, $pink, $yellow);
        height: fit-content;
        justify-content: center;

        img {
            width: 80%;
        }
    }

    section#personalizationSection {
        height: fit-content;

        div {
            width: 80%;
            display: flex;
            justify-content: space-between;
            padding: 10%;
            padding-bottom: 0;

            h1 {
                width: 48%;
                font-family: "Garbata";
                font-weight: 300;
                font-size: 8vw;
            }

            img {
                width: 42vw;
                height: 42vw;
            }
        }

        ul {
            margin: 10%;
            font-family: 'Garet';
            
            li {
                list-style: disc;
                margin-bottom: 25px;

                &.one {
                    span.one {
                        color: $pink;
                    }
                }

                &.two {
                    span.three {
                        color: $pink;
                    }
                }
                
                &.three {
                    span.three {
                        color: $pink;
                    }
                }
            }
        }
    }

    section#feedSection {
        display: flex;
        height: fit-content;

        img {
            width: 50%;
        }

        #feedSectionRight {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            .feedSectionRightSection {
                padding: 0 10%;

                h1 {
                    font-family: 'Garbata';
                    font-size: 2.2vw;
                }

                h2 {
                    font-family: 'Garbata';
                    font-size: 1.5vw;
                    margin: 7px 0;
                    color: $pink;
                }

                p {
                    font-family: 'Garet';
                    font-size: 1.3vw;
                }
            }
        }
    }

    section#whatYouGetSection {
        padding: 5%;
        display: flex;
        height: 100%;
        width: calc(100vw - 12%);

        #whatYouGetLeftSection {
            > span {
                background: #DA2A7D;
                color: #FEFF7C;
                padding: 1vw;
                font-family: "Garet";
                text-transform: uppercase;
                font-weight: 600;
                display: block;
                width: fit-content;
                font-size: 1.7vw;
                text-align: center;
            }

            > h1 {
                margin: 25px 0;
                font-family: 'Garbata';
                font-size: 4.5vw;
                position: absolute;
            }

            .whatYouGetLeftSectionSection {
                display: flex;
                flex-direction: column;

                &:nth-of-type(1) {
                    margin-bottom: 5vw;
                    margin-top: 10.5vw;
                }
    
                h2 {
                    font-family: 'Garet';
                    font-size: 1.9vw;
                }
    
                .whatYouGetLeftSectionBodySection {
                    display: flex;
                    
                    img {
                        width: 2vw;
                        height: 2vw;
                        margin-top: 0.5vw;
                        margin-right: 1vw;
                    }
                    
                    .whatYouGetLeftSectionBodySectionBody {
                        font-family: 'Garet';
                        font-size: 2vw;
    
                        span.two {
                            color: $pink;
                            font-weight: bold;
                            font-style: italic;
                            display: block;
                        }
                    }
                }
            }
        }

        #whatYouGetRightSection {
            display: flex;
            position: relative;

            #whatYouGetRightSectionLeft {
                width: 40%;
                margin: 22% 5%;
                height: 19%;
                padding: 2vw;
                background: black;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: center;

                > img {
                    width: 100%;
                }
                
                #whatYouGetSectionContentCalendarSocialIconsContainer {
                    display: flex;
                    justify-content: space-around;

                    img {
                        width: 25%;
                    }
                }
            }

            #whatYouGetRightSectionRight {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .whatYouGetRightSectionRightTitleContainer {
                    display: flex;

                    img {
                        width: 2vw;
                        height: 2vw;
                        margin-top: 0.4vw;
                        transform: translateX(-1vw);
                    }


                    h2 {
                        font-family: 'Garet';
                        font-size: 1.9vw;
                    }
                }

                hr {
                    border: 1px #DA2A7D solid;
                }

                .whatYouGetRightSectionBodySectionBody {
                    font-family: 'Garet';
                    font-size: 2vw;
                }
            }
        }
    }

    section#fillOutSection {
        background: black;
        height: fit-content;

        h1 {
            color: white;
            text-align: center;
            margin-top: 10%;
            font-size: 4vw;
        }

        #fillOutSectionStepsContainer {
            padding: 10%;
            display: flex;
            justify-content: space-between;

            .fillOutSectionStep {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;

                .fillOutSectionStepBody {
                    color: white;
                    text-align: center;
                    font-family: "Garet";
                    margin-top: 25px;
                    line-height: 2.5vw;
                    font-size: 1.8vw;
                }
            }

            .fillOutSectionStep:nth-of-type(1) {
                img {
                    width: 13vw;
                }

                .fillOutSectionStepBody {
                    span:nth-of-type(1) {
                        color: $yellow;
                        display: block;
                    }
                }
            }
            
            .fillOutSectionStep:nth-of-type(2) {
                img {
                    width: 23vw;
                }

                .fillOutSectionStepBody {
                    width: 80%;

                    span:nth-of-type(2) {
                        color: $yellow;
                        display: block;
                    }
                }
            }
            
            .fillOutSectionStep:nth-of-type(3) {
                img {
                    width: 23vw;
                }

                span:nth-of-type(1) {
                    color: $yellow;
                    display: block;
                }
            }
        }
    }
}

@keyframes flash {
    0% {
        filter: opacity(0);
    }
    40% {
        filter: opacity(0);
    }
    50% {
        filter: opacity(1);
    }
    60% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(0);
    }
}