@import '../../colors.scss';

#magicCalendarsPage {
    .magicCalendarsSection {
        height: 100vh;
        width: 100%;
        overflow: hidden;
    }
    
    section#titleSection {
        text-align: center;
        padding-top: 7%;
        
        h1 {
            font-family: 'Garbata';
            font-size: 6.8vw;
            width: 80%;
            margin: auto;
            font-weight: 300;
        }

        h2 {
            font-family: 'Garet';
            text-transform: uppercase;
            background: $pink;
            color: $yellow;
            padding: 12px;
            font-size: 2vw;
            width: 25%;
            margin: 25px auto;
        }

        h3 {
            font-family: 'Garet';
            font-size: 1.6vw;
        }

        #magicCalendarsTitleSectionWandContainer {
            position: absolute;

            #magicCalendarsTitleSectionWand {
                width: 67vw;
            }

            #magicCalendarsTitleSectionWandMagic {
                width: 30vw;
                position: absolute;
                top: 33%;
                right: -17%;
                z-index: -1;
                animation: flash infinite 10000ms ease-in-out;
            }
        }

        #magicCalendarsTitleSectionComputerHands {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -2;
        }

        #magicCalendarsTitleSectionWandBackgroundMagic {
            position: absolute;
            z-index: -1;
            right: 0;
            transform: scaleX(-1);
            top: 0;
            width: 33vw;
            filter: opacity(0.7);
            right: -5vw;
        }
    }
}

@keyframes flash {
    0% {
        filter: opacity(0);
    }
    40% {
        filter: opacity(0);
    }
    50% {
        filter: opacity(1);
    }
    60% {
        filter: opacity(0);
    }
    100% {
        filter: opacity(0);
    }
}