@import '../../colors.scss';

@media (min-width: 640px) and  (max-width: 1024px) {
    #magicCalendarsPage {
        section#titleSection {
            padding-top: 10%;

            h1 {
                font-size: 5vw;
                width: 80%;
            }

            h2 {
                padding: 12px;
                font-size: 2vw;
                width: 25%;
            }

            h3 {
                font-size: 2vw;
            }
                        
            #magicCalendarsTitleSectionWandContainer {
                animation: hoverMedium infinite 10000ms ease-in-out;

                #magicCalendarsTitleSectionWand {
                    width: 50vw;
                }

                #magicCalendarsTitleSectionWandMagic {
                    width: 20vw;
                    position: absolute;
                    top: 35%;
                    right: -14%;
                    z-index: -1;
                }
            }

            #magicCalendarsTitleSectionComputerHands {
                width: 50%;
                left: 25%;
            }
        }
    }
}

@keyframes hoverMedium {
    0% {
        left: -33%;
        top: 25%;
    }

    40% {
        left: 0%;
        top: 55%;
    }

    60% {
        left: 0%;
        top: 55%;
    }

    100% {
        left: -33%;
        top: 25%;
    }
}