@import '../../colors.scss';

@media (max-width: 640px) {
    #magicCalendarsPage {
        section#titleSection {
            padding-top: 10%;

            h1 {
                font-size: 7vw;
                width: 70%;
            }

            h2 {
                padding: 12px;
                font-size: 4vw;
                width: 50%;
            }

            h3 {
                font-size: 4vw;
            }

            #magicCalendarsTitleSectionWandContainer {
                animation: hoverSmall infinite 10000ms ease-in-out;

                #magicCalendarsTitleSectionWand {
                    width: 67vw;
                }
    
                #magicCalendarsTitleSectionWandMagic {
                    width: 30vw;
                    position: absolute;
                    top: 33%;
                    right: -17%;
                    z-index: -1;
                    animation: flash infinite 10000ms ease-in-out;
                }
            }

            #magicCalendarsTitleSectionComputerHands {
                width: 80%;
                left: 10%;
            }
        }
    }

    section#personalizationSection {
        div {
            h1 {
                font-size: 6vw !important;
            }
        }

        ul {
            font-size: 4.2vw;
        }
    }

    section#feedSection {
        display: flex;
        height: fit-content;
        flex-direction: column;

        img {
            width: 100% !important;
            margin-bottom: 25px;
        }

        #feedSectionRight {

            .feedSectionRightSection {
                padding: 0 5% !important;
                margin-bottom: 25px;

                h1 {
                    font-size: 7vw !important;
                }

                h2 {
                    font-size: 3.2vw !important;
                }

                p {
                    font-family: 'Garet';
                    font-size: 2.9vw !important;
                }
            }
        }
    }

    section#whatYouGetSection {
        flex-direction: column;
        padding-top: 0 !important;

        #whatYouGetLeftSection {
            width: 100% !important;

            .whatYouGetLeftSectionSection:nth-of-type(1) {
                margin-top: 0 !important;
            }

            >span {
                font-size: 3vw !important;
                padding: 2vw !important;
            }

            >h1 {
                font-size: 7vw !important;
                position: relative !important;
            }

            .whatYouGetLeftSectionSection {
                h2 {
                    font-size: 3.5vw !important;
                }

                img {
                    width: 6vw !important;
                    height: 3vw !important;
                }

                .whatYouGetLeftSectionBodySection {
                    .whatYouGetLeftSectionBodySectionBody {
                        font-size: 2.9vw !important;
                    }
                }
            }
        }

        #whatYouGetRightSection {
            flex-direction: column;

            #whatYouGetRightSectionLeft {
                height: 50% !important;
                margin: 5% auto !important;

                > img {
                    margin-bottom: 12.5px;
                }
            }

            #whatYouGetRightSectionRight {
                width: 100% !important;

                .whatYouGetRightSectionRightTitleContainer {
                    img {
                        width: 3vw !important;
                        height: 3vw !important;
                        margin-top: 0 !important;
                        transform: translate(-1vw, 0.9vw) !important;
                    }

                    h2 {
                        font-size: 3.5vw !important;
                    }
                }

                .whatYouGetRightSectionBodySectionBody {
                    font-size: 2.9vw !important;
                    margin-bottom: 25px;
                }
            }
        }
    }

    section#fillOutSection {
        #fillOutSectionStepsContainer {
            flex-direction: column;
            height: 100%;
            justify-content: space-around !important;

            .fillOutSectionStep {
                .fillOutSectionStepBody {
                    line-height: 6vw !important;
                    font-size: 3.6vw !important;
                }
            }

            .fillOutSectionStep:nth-of-type(1) {
                margin-bottom: 25px;

                img {
                    width: 30vw !important;
                }
            }
            
            .fillOutSectionStep:nth-of-type(2) {
                margin-bottom: 25px;

                img {
                    width: 50vw !important;
                }

                .fillOutSectionStepBody {
                    width: 80%;
                }
            }
            
            .fillOutSectionStep:nth-of-type(3) {
                img {
                    width: 50vw !important;
                }
            }
        }
    }

    section#chooseSection {
        #chooseSectionSelectionsContainer {
            padding: 5%;
            flex-direction: column;
            align-items: center;

            .chooseSectionSelection {
                width: 90% !important;
                padding: 5% !important;

                &:nth-child(1),
                &:nth-child(2) {
                    margin-bottom: 25px;
                }

                h3 {
                    font-size: 3.3vw !important;
                }

                h2 {
                    font-size: 5.4vw !important;
                }

                .chooseSectionSelectionDescription {
                    font-size: 3.6vw !important;
                }

                .chooseSectionSelectionBulletsContainer {
                    .chooseSectionSelectionBullet {
                        img {
                            width: 4vw !important;
                            height: 4vw !important;
                            margin-right: 1.6vw !important;
                            margin-top: 0.3vw;
                        }

                        p {
                            font-size: 3.1vw !important;
                        }
                    }
                }

                .chooseSectionSelectionCta {
                    font-size: 4.3vw !important;
                }
            }
        }
    }

    section#innovateSection {
        #innovateSectionWandContainer {
            margin-left: 10vw !important;
            margin-top: 10vw !important;

            #innovateSectionMagic {
                right: -15vw !important;
                bottom: -22vw !important;
                width: 23vw !important;
            }
        }

        #innovateSectionContentContainer {
            margin-left: 0% !important;
            margin-right: 0% !important;

            div {
                img {
                    width: 21vw !important;
                    margin-right: 3.7vw !important;
                }
                h4 {
                    font-size: 5vw !important;
                }
            }
            h1 {
                font-size: 10vw !important;
            }
            h2 {
                font-size: 5vw !important;
            }
            button {
                width: 67% !important;
                font-size: 5vw !important;
                padding: 5vw !important;
            }
        }
    }
}

@keyframes hoverSmall {
    0% {
        left: -33%;
        top: 33%;
    }

    40% {
        left: 0%;
        top: 55%;
    }

    60% {
        left: -15%;
        top: 55%;
    }

    100% {
        left: -33%;
        top: 33%;
    }
}