@import '../../colors.scss';

@media (max-width: 640px) {
    #magicCalendarsPage {
        section#titleSection {
            padding-top: 10%;

            h1 {
                font-size: 7vw;
                width: 70%;
            }

            h2 {
                padding: 12px;
                font-size: 4vw;
                width: 50%;
            }

            h3 {
                font-size: 4vw;
            }

            #magicCalendarsTitleSectionWandContainer {
                animation: hoverSmall infinite 10000ms ease-in-out;

                #magicCalendarsTitleSectionWand {
                    width: 67vw;
                }
    
                #magicCalendarsTitleSectionWandMagic {
                    width: 30vw;
                    position: absolute;
                    top: 33%;
                    right: -17%;
                    z-index: -1;
                    animation: flash infinite 10000ms ease-in-out;
                }
            }

            #magicCalendarsTitleSectionComputerHands {
                width: 80%;
                left: 10%;
            }
        }
    }

    section#personalizationSection {
        div {
            h1 {
                font-size: 6vw !important;
            }
        }

        ul {
            font-size: 4.2vw;
        }
    }

    section#feedSection {
        display: flex;
        height: fit-content;
        flex-direction: column;

        img {
            width: 100% !important;
            margin-bottom: 25px;
        }

        #feedSectionRight {

            .feedSectionRightSection {
                padding: 0 5% !important;
                margin-bottom: 25px;

                h1 {
                    font-size: 7vw !important;
                }

                h2 {
                    font-size: 3.2vw !important;
                }

                p {
                    font-family: 'Garet';
                    font-size: 2.9vw !important;
                }
            }
        }
    }

    section#whatYouGetSection {
        flex-direction: column;
        padding-top: 0 !important;

        #whatYouGetLeftSection {
            width: 100% !important;

            .whatYouGetLeftSectionSection:nth-of-type(1) {
                margin-top: 0 !important;
            }

            >span {
                font-size: 3vw !important;
                padding: 2vw !important;
            }

            >h1 {
                font-size: 7vw !important;
                position: relative !important;
            }

            .whatYouGetLeftSectionSection {
                h2 {
                    font-size: 3.5vw !important;
                }

                img {
                    width: 6vw !important;
                    height: 3vw !important;
                }

                .whatYouGetLeftSectionBodySection {
                    .whatYouGetLeftSectionBodySectionBody {
                        font-size: 2.9vw !important;
                    }
                }
            }
        }

        #whatYouGetRightSection {
            flex-direction: column;

            #whatYouGetRightSectionLeft {
                height: 50% !important;
                margin: 5% auto !important;

                > img {
                    margin-bottom: 12.5px;
                }
            }

            #whatYouGetRightSectionRight {
                width: 100% !important;

                .whatYouGetRightSectionRightTitleContainer {
                    img {
                        width: 3vw !important;
                        height: 3vw !important;
                        margin-top: 0 !important;
                        transform: translate(-1vw, 0.9vw) !important;
                    }

                    h2 {
                        font-size: 3.5vw !important;
                    }
                }

                .whatYouGetRightSectionBodySectionBody {
                    font-size: 2.9vw !important;
                    margin-bottom: 25px;
                }
            }
        }
    }
}

@keyframes hoverSmall {
    0% {
        left: -33%;
        top: 33%;
    }

    40% {
        left: 0%;
        top: 55%;
    }

    60% {
        left: -15%;
        top: 55%;
    }

    100% {
        left: -33%;
        top: 33%;
    }
}